.title_hero
{
    position: absolute;
width: 475px;
height: 177px;
left: 403px;
transform: translate(50%,-50%);

top: 119px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 59px;
text-align: center;
}